
.button:hover 
{
  -fx-background-color: rgb(94, 94, 94);
} 
.button:pressed
{
  -fx-background-color: rgb(0, 0, 0);
}

.playButton
{
    -fx-min-height: 65px;
	-fx-min-width: 180px;
	-fx-background-image: url("Button/playButton.png");
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center 0px;
	-fx-background-color: transparent;
}

/* .playButton : p */

.playButton:pressed
{
    -fx-background-image: url("Button/playButtonClicked.png");
    /* -fx-background-color: brown; */
}

.canvas {
	fx-background-color: antiquewhite, white ;
    -fx-background-insets: 0, 20 ;
    -fx-padding: 20 ;
}

.MuteButton
{
	-fx-min-height: 65px;
	-fx-min-width: 65px;
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center 0px;
	-fx-background-color: transparent;
}
