
.button:hover 
{
  -fx-background-color: rgb(94, 94, 94);
} 
.button:pressed
{
  -fx-background-color: transparent;
}

.playButton
{
    -fx-min-height: 65px;
	-fx-min-width: 180px;
	-fx-background-image: url("Button/playButton.png");
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center 0px;
	-fx-background-color: transparent;
}

/* .playButton : p */

.playButton:pressed
{
    -fx-background-image: url("Button/playButtonClicked.png");
}

.canvas {
	fx-background-color: antiquewhite, white ;
    -fx-background-insets: 0, 20 ;
    -fx-padding: 20 ;
}

.muteButton
{
	-fx-min-height: 10px;
	-fx-min-width: 10px;
	-fx-pref-height:45px;
	-fx-pref-width:45px;
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center 0px;
	-fx-background-color: transparent;
}

.creditButton
{
    -fx-min-height: 45px;
	-fx-min-width: 160px;
	-fx-background-image: url("Button/creditButton.png");
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center 0px;
	-fx-background-color: transparent;
}


.creditButton:pressed
{
    -fx-background-image: url("Button/creditButtonPress.png");
}

.exitButton
{
    -fx-min-height: 45px;
	-fx-min-width: 160px;
	-fx-background-image: url("Button/exitButton.png");
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center 0px;
	-fx-background-color: transparent;
}


.exitButton:pressed
{
    -fx-background-image: url("Button/exitButtonPress.png");
}

.pauseButton
{
    -fx-min-height:80px;
	-fx-min-width: 80px;
	-fx-background-image: url("Button/pauseButton.png");
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center 0px;
	-fx-background-color: transparent;
}

.pauseButton:hover
{
	fx-background-color: transparent;
}

.pauseButton:pressed
{
    -fx-background-image: url("Button/pauseButtonPress.png");
}


.levelupButton
{
    -fx-min-height: 122px;
	-fx-min-width: 190px;
	-fx-background-image: url("Button/levelupButton.png");
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center 0px;
	-fx-background-color: transparent;
}


.levelupButton:pressed
{
    -fx-background-image: url("Button/levelupButtonPress.png");
}